
body {
	background-color: #FFFFFF;
}

.page {
	width: 70%;
	margin: 0 auto; /* Центрировать */
}

.content-left {
	padding: 30px;
	min-width: 300px;
	float: left;
}

.content-left-post {
	padding: 10px 30px;
}

.content-right {
	padding: 10px 30px;
	float: right;
	background-color: #FFFFFF;
}

.menu {
	list-style: none;
}

.find-result {

}

.find-result-table {

}
